# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore env files
backend/.env
frontend/.env
backend/scripts/wayatom-parser/config.env

# TypeScript incremental build info
tsconfig.tsbuildinfo
frontend/tsconfig.tsbuildinfo

# Exclude accidental test folders
/frontend/Не выкладывать в репозиторий!!!/
